* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

/* navigation section */

.navbar-brand img {
	height: 40px;
	width: 40px;
	padding-bottom: 15px;
}

.navbar-brand span {
	padding: 0 5px;
	color: #fff;
}

.navbar-brand img, span {
	vertical-align: top;
}

.navbar .navbar-nav {
	text-transform: uppercase;
}

.navbar .navbar-nav {
	float: right;
}

/* hero section */
#hero {
	background: url(/img/sydney_opera.jpg);
	background-size: cover;
	height: 600px;
}

#hero h1, h3, p {
	font-weight: 700;
	color: #fff;
}

#hero h1 {
	font-size: 3rem;
	letter-spacing: 6px;
}

#hero h3 {
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: -10px;
	font-size: 2.0rem;
}

#hero h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-top: 200px;	
}

#hero p {
	color: #8c8c8c;
	font-size: .8em;
}

/* Search Section */
 #search {
	 height: 200px;
	 background-color: #022c54;
}

#search .form-group {
	margin-right: 20px;
}

#search .form-group {
	margin: 50px 40px 0 35px;
	font-size: 1.2rem;
	color: #f5f5f5;
}

#search .form-group:nth-child(4) {
	margin-left: -10px;
}

#search .form-group:nth-child(5) {
	margin-left: -50px;
}

#search .form-group:nth-child(6) {
	margin-left: -50px;
}

#search .form-group p:nth-of-type(4){
	margin-left: 30px;
}

#search .form-group input {
	background-color: transparent;
	color: #f5f5f5;
}

#search #sel1, #sel2 {
	background-color: transparent;
	color: #f5f5f5;
}

#search .form-group #sel1 {
	margin-left: 0px;
	margin-right: 10px;
}

#search .form-group #sel2 {
	
}

#search .form-group #sel3 {
	margin-left: 15px;
}

#search button {
	margin-top: 78px;
}

 .fontAwesome {
	font-family: 'Helvetica', FontAwesome, sans-serif;
	font-size: .90rem;
}

/* Promo Section */

#promo {
	height: 500px;
	margin-top: 100px;
	text-align: center;
}

#promo .col-md-3 {
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px 5px 20px 5px;
	margin-bottom: 50px;
}

#promo h2 {
	margin-top: 5px;
	margin-bottom: 50px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

#promo h5 {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #022c54;
}

#promo img {
	width: 100%;
	height: 200px;
}

#promo p, i {
	color: #b2b2b2;
	display: inline-block;
	margin-top: 20px;
	margin-right: 8px;
}

#promo .fa-star {
	color: #ffde00;
}

#promo p {
	text-align: left;
	font-size: 1.25rem;
	font-weight: 200;
}

#promo .btn {
	padding: 5px 20px;
	margin-top: 10px;
}

#promo .btn-default {
	margin-left: -10px;
	margin-right: 15px;
}

#promo .btn-primary {
	background-color: #022c54;
}

/* Photo Grid Section */
#photos {
	margin-top: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
}

#photos {
	position: relative;
	padding-bottom: 100px;
}

#photos i:first-of-type {
	padding-left: 20px;
}

#photos .fa-star {
	color: #ffde00;
}

#photos p:first-of-type {
	position: absolute;
	top: 20%;
	left: 33%;
	color: #555;
	opacity: .70;
	font-size: 1rem;
}

#photos .review-text p {
	position: absolute;
	left: 60%;
}

#photos .cost {
	top: 10%;
	left: 66%;
	color: #555;
}

#photos .fa-calendar {
	position: absolute;
	top: 50%;
	left: 5%;
}

#photos .date-text {
	position: absolute;
	top: 67%;
	left: 10%;
	color: #555;
}

#photos .fa-map-marker {
	position: absolute;
	top: 50%;
	left: 40%;
	color: #555;
}

#photos .location-text {
	position: absolute;
	position: absolute;
	top: 67%;
	left: 44%;
	color: #555;
}

#photos h4  {
	margin: 5px 0 10px 15px;
	font-size: 1.75rem;
	font-weight: bold;
	color: #555;
	opacity: .70;
}

#photos h6 {
	position: absolute;
	top: 18%;
	left: 70%;
	font-weight: bold;	
}

#photos .offer-text {
	position: absolute;
	background: #fff;
	width: 25.5%;
	height: 100px;
	margin-top: -100px;
	opacity: 0;
}

#photos .offer-text:hover {
	opacity: .90;

}


/* Destination Section */

#destinations img {
	width: 100%;
}

#destinations p, h4{
	color: #fff;
}

#destinations h4 {
	padding-top: 75px;
}

#destinations .fa-star {
	color: #ffde00;
}

.destinationSection {
	background-color: #7f8896;
	margin-bottom: 30px;
	color: #fff;
	text-align: center;
}

#destinations .italy {
	background: url(/img/italy.png);
	background-position: center bottom;
	background-size: cover;
	opacity: .5;
}

#destinations .france {
	background: url(/img/france.png);
	background-position: center;
	background-size: cover;
	opacity: .5;
}

#destinations .spain {
	background: url(/img/spain.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .5;
}

#destinations .usa{
	background: url(/img/us_map.png);
	background-position: center;
	background-size: cover;
	opacity: .5;
}

#destinations ul li {
	text-align: left;
	font-size: 1.75rem;
}

#destinations h5 {
	text-align: left;
	font-weight: bold;
	margin-top: 50px;
	color: #000000;
	letter-spacing: 1.25px;
}

#destinations li {
	color: #111;
	font-size: 1.75rem;
}

#destinations .btn-primary {
	margin-bottom: 100px;
}
/* Carousel section */

#cruises img {
	opacity: .4;
	width: 100%;
	max-height: 650px;
	margin-bottom: 50px;	
}

#cruises .fa-star {
	color: #ffde00;
}

#cruises .fa-calendar, .fa-map-marker {
	color: #ffffff;
}

#cruises h1 {
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
}

#cruises h4 {
	margin-top: 30px;
	line-height: 18px;
	letter-spacing: 2.0px;
}

.carousel-caption {
	display: inline;
	margin-bottom: 180px;
}

#cruises i .fa, p, h5, h4, h6 {
	display: inline;
}

#cruises .fa-map-marker {
	margin-left: 5px;
}

#cruises .btn {
	margin-top: 20px;
}

/* Popular Cruises  */

#popularCruises {
	margin-top: 50px;
}

#popularCruises h4, h2{
	color: #000000;
}

#popularCruises .grid-item h5, h3, p{
	color: #000000;
	font-weight: 200;
}

.grid-container>.grid-item  {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(4, auto);
}

.grid-container img {
	max-width: 100vh;
	max-height: 300px;
}

.grid-item p, h5, h3 {
		
}

.grid-item #honeymoon {
	background-image: url(../img/honeymoon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	grid-row: 4 / span 4;
}





/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}